# WARNING: This file is managed automatically and may be overwritten at any time.

# Require VPFCloudFoundationAwsTeam to approve any changes to this repository.
*                  @schubergphilis-ep/VPFCloudFoundationAwsTeam
